%tr
  %td= message.id	
  %td= message.mediumString
  %td= message.statusString
  %td= message.timeString.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d")
  %td= message.timeString.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M%p")
  %td= message.summaryString
  -if message.pending?
    %td= link_to "deliver", deliver_message_path(message), :method => :put 
    %td= link_to "cancel", cancel_message_path(message), :method => :put 
  -else
    - if message.flagNegative? 
      %td= "negative" 
    -else
      %td=link_to "negative", flagNegative_message_path(message), :method => :put  
    - if message.flagNeutral? 
      %td= "neutral" 
    -else
      %td=link_to "neutral", flagNeutral_message_path(message), :method => :put  
    - if message.flagPositive? 
      %td= "positive" 
    -else
      %td=link_to "positive", flagPositive_message_path(message), :method => :put  

