%table
	%tr
		%th ID
		%th Medium
		%th Status
		%th Date
		%th Local Time
		%th Summary
		%th Actions
	-messages.each do |m|
		%tr
			-if m.delivered? or m.received?
				-time = m.sent_at
			-elsif m.pending? 
				-time = m.scheduled_at
			-else
				-time = m.updated_at
			-time = time.in_time_zone(m.participant.time_zone)
			%td= m.id
			%td= m.mediumString
			%td= m.statusString
			%td= time.strftime("%m/%d")
			%td= time.strftime("%I:%M%p")
			%td= m.summaryString
			%td{:nowrap=>true}
				=render "/messages/action_paths", :message=>m
