%tr
  %td= project_message.id	
  %td= project_message.mediumString
  %td= project_message.statusString
  %td= project_message.timeString.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d")
  %td= project_message.timeString.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M%p")
  %td= project_message.summaryString
  -if project_message.pending?
    %td= link_to "deliver", deliver_project_message_path(project_message), :method => :put 
  -else
    - if project_message.flagNegative? 
      %td= "negative" 
    -else
      %td=link_to "negative", flagNegative_project_message_path(project_message), :method => :put  
    - if project_message.flagNeutral? 
      %td= "neutral" 
    -else
      %td=link_to "neutral", flagNeutral_project_message_path(project_message), :method => :put  
    - if project_message.flagPositive? 
      %td= "positive" 
    -else
      %td=link_to "positive", flagPositive_project_message_path(project_message), :method => :put  

