-if defined? header and header==true
	%tr
		%th ID
		%th Date
		%th PST Time
		%th Message Sent
		%th Message Received
		%th Actions
			
-if defined? participant and defined? messages
	%tr
		%td= link_to participant.id, participant
	-messages.each do |m|
		-if m.delivered? or m.received?
			-time = m.sent_at
		-elsif m.pending? 
			-time = m.scheduled_at
		-else
			-time = m.updated_at
		-time = time.in_time_zone(m.participant.time_zone)
		%tr
			%td
			%td= time.strftime("%m/%d")
			%td= time.strftime("%I:%M%p")
			-if m.delivered? or m.pending? or m.canceled?
				%td= m.summaryString
				%td
			-elsif m.received?
				%td
				%td= m.summaryString
			%td{:nowrap=>true}
				=render "/messages/action_paths", :message=>m
