-provide(:title, 'Sign Up!')

.container-narrow
	%h1 Sign Up!
	.row
		.span4.offset2
			= form_for @participant do |f|
				= render 'shared/error_messages', object: f.object
				%h2 How should we be in touch?
				= f.label :email
				= f.text_field :email
				= f.label :phone, "Cellphone Number"
				= f.text_field :phone
				= f.label :morning_reminder, "When would you prefer your Walk30 reminder?"
				= f.radio_button :morning_reminder, true
				Morning
				%p
				= f.radio_button :morning_reminder, false
				Afternoon
				%p
				%h2 Where are you located?
				= f.label :time_zone, "Time Zone Abbreviation (Example: PST, EST)"
				= f.text_field :time_zone
				= f.label :zip_code, "Zip Code/Area Code"
				= f.text_field :zip_code
				%h2 Tell us about yourself...
				= f.label :age
				= f.number_field :age
				= f.label :is_male, "Gender"
				%p
				= f.radio_button :is_male, true
				Male
				%p
				= f.radio_button :is_male, false
				Female
				%p
				= f.label :walked_last_week, "How many times did you walk for at least 30 minutes in the last week?"
				= f.number_field :walked_last_week
				-#%h2 Prove you're not a robot...
				= #recaptcha_tags :ssl=>true
				%p			
				%p
				%h2 And finally...
				= f.submit "Sign Me Up!", class: "btn btn-large btn-primary"
				
				