-provide(:title, 'Sign Up')
%h1 Fill in to enroll in the Walk30 Experiment
.row
	.span6.offset3
		= form_for @participant do |f|
			= render 'shared/error_messages', object: f.object
			= f.label :email
			= f.text_field :email
			= f.label :phone, "Phone Number"
			= f.text_field :phone
			= f.label :zip_code, "Zip Code"
			= f.text_field :zip_code
			= f.label :age
			= f.number_field :age
			= f.label :is_male, "Gender"
			%p
			= f.radio_button :is_male, true
			Male
			%p
			= f.radio_button :is_male, false
			Female
			
			%p
			%p
				= f.submit "Enroll Me!", class: "btn btn-large btn-primary"