-provide(:title, @participant.id)
%h2 
	=@participant.email 
	&nbsp; &nbsp;
	- if @participant.pending? 
		=link_to "activate", activate_participant_path(@participant), :method => :put 
		&nbsp; &nbsp;
		=link_to "terminate", terminate_participant_path(@participant), :method => :put 
	- elsif @participant.active? 
		=link_to "terminate", terminate_participant_path(@participant), :method => :put 
	- elsif @participant.terminated? 
		=link_to "reactivate", reactivate_participant_path(@participant), :method => :put 


%table{:cellspacing => "5"}
	%thead
		%th PHONE
		%th STATUS
		%th Days in STATUS
		%th Messages Delivered
		%th Messages Received
		%th Messages Pending
	%tbody
		%tr
			%td= @participant.phone
			%td= @participant.statusString
			%td= '%.2f' % @participant.days_in_status
			%td= @participant.deliveredMessages.length
			%td= @participant.receivedMessages.length
			%td= @participant.pendingMessages.length
		
%hr

=form_tag deliverMessage_participant_path, :method => 'post' do
	Message
	%p
	=text_area_tag :content
	%p
	Medium:
	=select_tag :medium, options_for_select([["TEST Message",Message::TEST],["TEXT Message",Message::TEXT]]), :cols=>12
	%p
	Delay in hours:
	=number_field_tag :delay_in_hours, :cols=>12
	%p
	=submit_tag "Send Message"
	


%hr
%table{:cellspacing => "5"}
	%thead
		%th Message ID
		%th MEDIUM
		%th STATUS
		%th DATE
		%th TIME
		%th SUMMARY

	%tbody
		= render @messages
