<div class="masthead">	
		<ul class="nav nav-pills pull-right">
			<li><%= link_to "Home", root_path %></li>
        	<li><%= link_to "Contact", contact_path %></li>
        	<li><%= link_to "Instructions", instructions_path %></li>
        	<% if user_signed_in? %>
        		<li><%= link_to "Active Participants", active_participants_path %></li>
        		<li><%= link_to "All Participants", participants_path %></li>
        		<li><%= link_to "Mass Message", mass_message_participants_path %></li>
        		<li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
        	<% end %>
        		
		</ul>
	<h3 class="muted">Walk30</h3>	
</div>

