<div class="masthead">	
		<ul class="nav nav-pills pull-right">
			<li><%= link_to "Home", root_path %></li>
        	<li><%= link_to "Contact", contact_path %></li>
        	<% if user_signed_in? %>
        		<li><%= link_to "Participants", participants_path %></li>
        		<li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
        	<% end %>
        		
		</ul>	
	<h2 class="muted">Walk30</h2>
</div>

